[client]
port = 3306
socket = /var/lib/mysql/mysql.sock

[mysqld]
# Configurações básicas
user = mysql
port = 3306
socket = /var/lib/mysql/mysql.sock
pid-file = /var/run/mysqld/mysqld.pid
basedir = /usr
datadir = /var/lib/mysql
tmpdir = /tmp
lc-messages-dir = /usr/share/mysql
skip-external-locking

# Ajuste de rede
bind-address = 0.0.0.0  # Permitir conexões de qualquer endereço IP

# Configurações de segurança
max_connections = 500
table_open_cache = 2000
thread_cache_size = 100
query_cache_size = 0

# Desempenho
innodb_buffer_pool_size = 1G
innodb_log_file_size = 256M
innodb_flush_log_at_trx_commit = 1
innodb_file_per_table = 1
innodb_buffer_pool_instances = 1

# Logs e Binários
log_error = /var/log/mysql/error.log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 2

# Configurações específicas do Zabbix
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# Ajustes adicionais recomendados para Zabbix
innodb_file_format = Barracuda
innodb_file_per_table = 1
innodb_large_prefix = 1

# Binlog settings (optional, for replication)
log-bin = /var/log/mysql/mysql-bin.log
binlog_format = ROW
expire_logs_days = 10
max_binlog_size = 100M

[mysqldump]
quick
quote-names
max_allowed_packet = 16M

[mysql]
# Adicionar mais opções específicas se necessário

[isamchk]
key_buffer = 16M

!includedir /etc/my.cnf.d/
